.ChosenMineralHead {
    text-align: center;
}
.ChosenMineralInventory {
    text-align: center;
    flex-basis: 24%;
    margin: 0 2rem;
    border: 1px dashed dodgerblue;
    padding: 1rem;
    border-radius: 0.5rem;
}
